<header>
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#service">Service</a></li>
      <li><a href="#feature">Feature</a></li>
      <li><a href="#product">Product</a></li>
      <li><a href="#testimonial">Testimonial</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>
  </nav>
  <div class="auth-buttons">
    <button class="login">Login</button>
    <button class="signup">Sign Up</button>
  </div>
</header>
